body {
    background-color: rgb(204, 160, 94);
}

header {
    display: flex;
    justify-content: center;
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "form"
        "bild";
}

form {
    grid-area: form;
    text-align: center;
}

.bild {
    grid-area: bild;
    width: 30%;
    margin: 20px auto;
}

.bild img{
    width: 100%;
    height: auto;
}